body {
	margin: 0;
	background: #ecf0f1;
}

*, *::before, *::after{
	box-sizing: border-box;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

p {
	font-style: italic;
	margin-bottom: 10px;
}

.lyric {
	line-height: 1.7;
}

footer {
	text-align: center;
	background: #bdc3c7;
}